<div class="table-responsive">
    <table class="table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              @for (item of itemList; track $index) {
                <tr>
                  <th scope="row">{{item.id}}</th>
                  <td>{{item.name}}</td>
                  <td>{{item.descripcion}}</td>
                  <td>
                    <div class="d-flex justify-content-evenly align-items-center">
                      <button type="button" (click)="showDetailModal(item, detailModal)" class="btn btn-secondary">
                        <i class="fa-solid fa-eye white"
                        ></i>
                      </button>
                      <button type="button" (click)="deleteCategory(item)" class="btn btn-danger">
                        <i class="fa-solid fa-trash white"
                        ></i>
                      </button>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
    </table>
</div>

<app-modal #detailModal>
 <app-category-form
 (callParentEvent)="onFormEventCalled($event)"
 [title]="'Update Category'"
 [toUpdateCategory]="selectedItem"
 />
</app-modal>
